.carousal-container {
  width: 80%;
  position: relative;
  overflow: hidden;
}

.carousal-item {
  width: 100%;
  display: none;
  position: absolute;
  transition: left 1s;
}

.carousal-item.left {
  display: block;
  left: -100%;
}
.carousal-item.active {
  display: block;
  left: 0;
}
.carousal-item.right {
  display: block;
  left: 100%;
}
